<app-menu
  [fullScreen]="false"
  [showCloseMenu]="true"
  (closeMenu)="onCloseMenu()"
>
  <div class="menu-content">
    <p class="big-text">{{ gameDialogueData().message }}</p>

    <div class="buttons-section">
      <div
        class="choice-button"
        (click)="onButtonOneClick()"
        *ngIf="gameDialogueData().showButtonOne"
      >
        {{ gameDialogueData().buttonOneText }}
      </div>
      <div
        class="choice-button"
        (click)="onButtonTwoClick()"
        *ngIf="gameDialogueData().showButtonTwo"
      >
        {{ gameDialogueData().buttonTwoText }}
      </div>
    </div>
  </div>
</app-menu>
