.stat-bar {
  display: flex;
  flex-direction: row;
}

.health {
  background-color: red;
}

.mana {
  background-color: blue;
}

.experience {
  background-color: rgb(103, 103, 237);
}

.stamina {
  background-color: green;
}
