.stat-bar-container {
  width: 200px;
  font-weight: bold;
  background-color: #555; /* Background of the container */
  border-radius: 5px; /* Optional: for rounded corners */
  box-shadow: inset 0 0 5px #000; /* Optional: for inset shadow */
}

.stat-bar {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 5px #000; /* Optional: for inset shadow */
  justify-content: center;
  transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
}
.health {
  background-color: #af4c4c;
}

.mana {
  background-color: rgb(108, 108, 209);
}

.experience {
  background-color: rgb(200, 200, 245);
}

.stamina {
  background-color: green;
}
