<div class="table">
  <div class="game-board">
    <span class="board-wrapper">
      <div class="board-1"></div>
      <div class="board-2"></div>
      <div class="board-3"></div>
    </span>

    <span class="board-wrapper">
      <div class="board-4"></div>
      <div class="board-5"></div>
      <div class="board-6"></div>
    </span>

    <span class="board-wrapper">
      <div class="board-7"></div>
      <div class="board-8"></div>
      <div class="board-9"></div>
    </span>

    <span *ngFor="let character of characters">
      <div
        class="player-wrapper"
        [ngStyle]="{
          'left.px': character.currentLocation.position.xPosition + 25,
          'top.px': character.currentLocation.position.yPosition - 80
        }"
      >
        <app-turn-arrow
          *ngIf="characterBeingControlledByClient?.id === character.id"
        ></app-turn-arrow>
        <span class="character-name big-text">{{ character.name }}</span>
        <app-player
          [directionFacing]="character.directionFacing"
          [character]="character"
        ></app-player>
      </div>
    </span>

    <span *ngFor="let location of this.locationService.locationsMap | keyvalue">
      <div
        class="movement-node-wrapper"
        (click)="locationService.clickOnNode(location.value)"
        [ngStyle]="{
          'left.px': location.value.position.xPosition,
          'top.px': location.value.position.yPosition
        }"
      >
        <!-- For Testing Purposes -->
        <!-- <h1>{{ location.key }}</h1> -->
        <app-movement-node
          *ngIf="!locationsLoading"
          [distanceFromCharacter]="location.value.distanceFromPlayer"
          [characterMovementSpeed]="
            characterBeingControlledByClient?.movementSpeed ?? 0
          "
        />
      </div>
    </span>

    <app-game-footer
      [characterMovementSpeed]="characterBeingControlledByClient?.movementSpeed"
      [turnNumber]="gameSession.currentTurn.turnNumber"
      (endTurn)="currentCharacterFinishedTurn()"
    ></app-game-footer>
  </div>
</div>
