@import "../../../styles.scss";

.game-board {
  // border: 2px solid black;
  width: $game-board-width;
  height: $game-board-height;
  position: relative;
  @include unselectable();
  transition: transform 0.5s ease;

  // Disable the double tap zoom on iphone
  touch-action: manipulation;
}

.board-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.board-1 {
  background-image: url("../../../assets/game-board/Tesslandia\ Top\ Left.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-2 {
  background-image: url("../../../assets/game-board/Tesslandia\ Top\ Center.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-3 {
  background-image: url("../../../assets/game-board/Tesslandia\ Top\ Right.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-4 {
  background-image: url("../../../assets/game-board/Tesslandia\ Left\ New.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-5 {
  background-image: url("../../../assets/game-board/Tesslandia\ Center\ New.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-6 {
  background-image: url("../../../assets/game-board/Tesslandia\ Right\ New.jpg"); //
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-7 {
  background-image: url("../../../assets/game-board/Tesslandia\ Bottom\ Left.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-8 {
  background-image: url("../../../assets/game-board/Tesslandia\ Bottom\ Center.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-9 {
  background-image: url("../../../assets/game-board/Tesslandia\ Bottom\ Right.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  @include game-board-width-and-smaller {
    width: $game-board-width;
  }
  @include game-board-height-and-smaller {
    height: $game-board-height;
  }
}
.player-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  pointer-events: none;
  flex-direction: column;
  @include unselectable();
}

.movement-node-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: calc($game-board-width / 40);
  height: calc($game-board-height / 30);
  @include unselectable();
}

.player-game-messages-section {
  // put it in the bottom left corner of the screen
  position: fixed;
  bottom: 0;
  left: 16px;
  z-index: 999;
}

.game-buttons-section {
  // put it in the bottom right corner of the screen
  position: fixed;
  bottom: 0;
  right: 16px;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.zoom-buttons-section {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $dungeon-seek-light;

  margin-left: auto;
  // Align the buttons to the right of the flexbox
}

.zoom-button {
  cursor: pointer;
  font-size: 4em;
  @include unselectable();
}

app-character-info {
  position: fixed;
  top: 0;
  left: 16px;
  z-index: 999;
}
