<div class="table">
  <div class="game-board">
    <span class="board-wrapper">
      <div class="board-1"></div>
      <div class="board-2"></div>
      <div class="board-3"></div>
    </span>

    <span class="board-wrapper">
      <div class="board-4"></div>
      <div class="board-5"></div>
      <div class="board-6"></div>
    </span>

    <span class="board-wrapper">
      <div class="board-7"></div>
      <div class="board-8"></div>
      <div class="board-9"></div>
    </span>

    <app-location-info
      *ngIf="!showEventCard"
      [location]="characterBeingControlledByClient?.currentLocation"
    ></app-location-info>

    <!-- Only appears when you draw an event card -->
    <app-game-card
      *ngIf="showEventCard"
      [cardName]="cardName"
      [deckName]="deckName"
      (closeCard)="closeCard()"
      (makeChoice)="makeChoice($event)"
    ></app-game-card>

    <span *ngFor="let character of allCharactersCurrentlyInGameSession">
      <div
        class="player-wrapper"
        [ngStyle]="{
          'left.px': character.currentLocation.position.xPosition + 25,
          'top.px': character.currentLocation.position.yPosition - 80
        }"
      >
        <app-turn-arrow
          *ngIf="characterBeingControlledByClient?.id === character.id"
        ></app-turn-arrow>
        <span class="character-name big-text">{{ character.name }}</span>
        <app-player
          [directionFacing]="character.directionFacing"
          [character]="character"
        ></app-player>
      </div>
    </span>

    <span *ngFor="let location of this.locationService.locationsMap | keyvalue">
      <div
        class="movement-node-wrapper"
        (click)="locationService.clickOnNode(location.value)"
        [ngStyle]="{
          'left.px': location.value.position.xPosition,
          'top.px': location.value.position.yPosition
        }"
      >
        <!-- For Testing Purposes -->
        <!-- <h1>{{ location.key }}</h1> -->
        <app-movement-node
          *ngIf="!locationsLoading"
          [distanceFromCharacter]="location.value.distanceFromPlayer"
          [characterMovementSpeed]="
            characterBeingControlledByClient?.movementSpeed ?? 0
          "
        />
      </div>
    </span>

    <div class="player-movement-section">
      <span
        *ngIf="characterBeingControlledByClient?.movementSpeed != undefined"
      >
        <p
          class="big-text sticky-text"
          *ngIf="characterBeingControlledByClient!.movementSpeed > 0"
        >
          Movement: {{ characterBeingControlledByClient!.movementSpeed }}
        </p>

        <p
          class="big-text sticky-text"
          *ngIf="characterBeingControlledByClient!.movementSpeed <= 0"
        >
          You cannot move anymore this turn.
        </p>
      </span>
    </div>

    <div class="game-buttons-section">
      <span
        *ngIf="characterBeingControlledByClient?.movementSpeed != undefined"
      >
        <div
          class="game-button"
          *ngIf="characterBeingControlledByClient!.movementSpeed > 0"
        >
          End Movement
        </div>

        <div
          class="game-button"
          *ngIf="characterBeingControlledByClient!.movementSpeed <= 0"
        >
          End Turn
        </div>
      </span>
    </div>

    <!-- Legacy because it will be replaced with other components. -->
    <!-- <app-game-footer
      *ngIf="!loading"
      [characterName]="characterBeingControlledByClient?.name"
      [characterMovementSpeed]="characterBeingControlledByClient?.movementSpeed"
      [turnNumber]="gameSession?.currentTurn?.turnNumber || 0"
      [waitingForOnlinePlayersToFinishTurn]="waitingForNextTurnToStart"
      (endTurn)="currentCharacterFinishedTurn()"
      (drawEventCard)="drawEventCard()"
    ></app-game-footer> -->
  </div>
</div>
