@import "../../../styles.scss";

@mixin unselectable() {
  // One of these lines disabled highlighting on mobile
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
}

.game-board {
  // border: 2px solid black;
  width: $game-board-width;
  height: $game-board-height;
  position: relative;
  @include unselectable();
}

.board-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.board-1 {
  background-image: url("../../../assets/game-board/Tesslandia\ Top\ Left.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-2 {
  background-image: url("../../../assets/game-board/Tesslandia\ Top\ Center.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-3 {
  background-image: url("../../../assets/game-board/Placeholder.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-4 {
  background-image: url("../../../assets/game-board/Tesslandia\ Left\ New.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-5 {
  background-image: url("../../../assets/game-board/Tesslandia\ Center\ New.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-6 {
  background-image: url("../../../assets/game-board/Tesslandia\ Right\ New.jpg"); //
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-7 {
  background-image: url("../../../assets/game-board/Placeholder.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-8 {
  background-image: url("../../../assets/game-board/Placeholder.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.board-9 {
  background-image: url("../../../assets/game-board/Placeholder.jpg");
  width: calc($game-board-width / 2);
  height: calc($game-board-height / 3);
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  @include game-board-width-and-smaller {
    width: $game-board-width;
  }
  @include game-board-height-and-smaller {
    height: $game-board-height;
  }
}
.player-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  pointer-events: none;
  flex-direction: column;
  @include unselectable();
}

.movement-node-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: calc($game-board-width / 40);
  height: calc($game-board-height / 30);
  @include unselectable();
}

.character-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 0.5rem;
}
