<div class="table" id="table">
  <div class="game-board" id="game-board">
    <span class="board-wrapper">
      <div class="board-1"></div>
      <div class="board-2"></div>
      <div class="board-3"></div>
    </span>

    <span class="board-wrapper">
      <div class="board-4"></div>
      <div class="board-5"></div>
      <div class="board-6"></div>
    </span>

    <span class="board-wrapper">
      <div class="board-7"></div>
      <div class="board-8"></div>
      <div class="board-9"></div>
    </span>

    <!-- The players -->
    <span
      *ngFor="
        let character of gameStateService.allCharactersCurrentlyInGameSession
      "
    >
      <div
        class="player-wrapper"
        [ngStyle]="{
          'left.px': character.position.xPosition + 25,
          'top.px': character.position.yPosition - 80
        }"
      >
        <app-turn-arrow
          *ngIf="
            gameStateService.characterBeingControlledByClient?.id ===
            character.id
          "
        ></app-turn-arrow>
        <span class="character-name big-text">{{ character.name }}</span>
        <app-player
          [directionFacing]="character.directionFacing"
          [character]="character"
        ></app-player>
      </div>
    </span>

    <!-- The NPCs -->
    <span *ngFor="let npc of gameStateService.npcsInPlay">
      <div
        class="player-wrapper"
        [ngStyle]="{
          'left.px': npc.position.xPosition + 25,
          'top.px': npc.position.yPosition - 80
        }"
      >
        <span class="character-name big-text">{{ npc.npcType }}</span>

        <app-npc
          [npc]="npc"
          [selected]="
            gameStateService.currentPlayerSelectedEnemyToAttack?.id === npc.id
          "
          [selectable]="gameStateService.currentPlayersCombatTurn"
          (npcSelected)="combatService.selectNpcToAttack($event)"
        />
      </div>
    </span>

    <span *ngFor="let location of this.locationService.locationsMap | keyvalue">
      <div
        class="movement-node-wrapper"
        (click)="locationService.clickOnNode(location.value)"
        [ngStyle]="{
          'left.px': location.value.position.xPosition,
          'top.px': location.value.position.yPosition
        }"
      >
        <!-- For Testing Purposes -->
        <!-- <h1>{{ location.key }}</h1> -->
        <app-movement-node
          *ngIf="!locationsLoading"
          [distanceFromCharacter]="location.value.distanceFromPlayer"
          [characterMovementSpeed]="
            gameStateService.characterBeingControlledByClient?.movementSpeed ??
            0
          "
        />
      </div>
    </span>

    <!-- Legacy because it will be replaced with other components. -->
    <!-- <app-game-footer
      *ngIf="!loading"
      [characterName]="characterBeingControlledByClient?.name"
      [characterMovementSpeed]="characterBeingControlledByClient?.movementSpeed"
      [turnNumber]="gameSession?.currentTurn?.turnNumber || 0"
      [waitingForOnlinePlayersToFinishTurn]="waitingForNextTurnToStart"
      (endTurn)="currentCharacterFinishedTurn()"
      (drawEventCard)="drawEventCard()"
    ></app-game-footer> -->
  </div>

  <div
    class="player-game-messages-section"
    *ngIf="!currentCharacterRollingDice"
  >
    <span
      class="player-movement-section"
      *ngIf="
        gameStateService.characterBeingControlledByClient?.movementSpeed !=
          undefined &&
        !currentCharacterRolledForEventCardThisTurn &&
        gameStateService.characterBeingControlledByClient?.combatSessionId ===
          null
      "
    >
      <p
        class="big-text sticky-text"
        *ngIf="
          gameStateService.characterBeingControlledByClient!.movementSpeed >
            0 &&
          gameStateService.characterBeingControlledByClient?.combatSessionId ===
            null
        "
      >
        Movement:
        {{ gameStateService.characterBeingControlledByClient!.movementSpeed }}
      </p>

      <p
        class="big-text sticky-text"
        *ngIf="
          gameStateService.characterBeingControlledByClient!.movementSpeed <=
            0 &&
          gameStateService.characterBeingControlledByClient?.combatSessionId ===
            null
        "
      >
        You cannot move anymore this turn.
      </p>
    </span>

    @if(gameStateService.characterBeingControlledByClient?.combatSessionId) {
    <span class="combat-messages-section">
      <!-- <p
        class="big-text sticky-text"
        *ngIf="gameStateService.currentPlayersCombatTurn"
      >
        It's your turn to attack!
      </p> -->

      <p
        class="big-text sticky-text"
        *ngIf="
          gameStateService.currentPlayersCombatTurn &&
          !gameStateService.currentPlayerSelectedEnemyToAttack
        "
      >
        Select an enemy to attack.
      </p>

      <p
        class="big-text sticky-text"
        *ngIf="
          gameStateService.currentPlayersCombatTurn &&
          gameStateService.currentPlayerSelectedEnemyToAttack
        "
      ></p>

      <p
        class="big-text sticky-text"
        *ngIf="!gameStateService.currentPlayersCombatTurn"
      >
        Waiting for others to take an action...
      </p>
    </span>
    }

    <span class="player-misc-message-section">
      <p class="big-text sticky-text" *ngIf="waitingForNextTurnToStart">
        Waiting for other players to finish their turns...
      </p>
    </span>
  </div>

  <app-character-info
    *ngIf="gameStateService.characterBeingControlledByClient"
    [character]="gameStateService.characterBeingControlledByClient"
    (showCharacterMenu)="toggleCharacterMenu()"
  ></app-character-info>

  @defer(when showEventCard) {
  <!-- Only appears when you draw an event card -->
  <app-event-menu
    *ngIf="showEventCard"
    [cardName]="cardName"
    [deckName]="deckName"
    (closeCard)="closeCard()"
    (makeChoice)="handleMakeChoice($event)"
  ></app-event-menu>
  } @defer(when showItemCard) {
  <!-- Appears if you are viewing an item -->
  <app-item-menu
    *ngIf="showItemCard"
    [cardName]="cardName"
    (closeMenu)="addItemToPlayerInventory()"
  ></app-item-menu>
  } @defer(when showWeaponCard) {
  <!-- Appears when you are viewing a weapon card -->
  <app-weapon-menu
    *ngIf="showWeaponCard"
    [cardName]="cardName"
    (closeMenu)="addWeaponToPlayerInventory()"
  ></app-weapon-menu>
  } @defer(when showGoldCard){
  <!-- Appears when the character finds gold -->
  <app-gold-menu
    *ngIf="showGoldCard"
    [goldAmount]="goldFoundAmount"
    (closeMenu)="addGoldToCharacter()"
  >
  </app-gold-menu>
  }

  <!-- Defer the character menu using the Angular 17 syntax to lazy load a large component on a condition -->
  @defer (when showCharacterMenu()) {
  <!-- Appears when you are viewing the character menu -->
  <app-character-menu
    *ngIf="showCharacterMenu()"
    [character]="gameStateService.characterBeingControlledByClient"
    (closeMenu)="toggleCharacterMenu()"
    [gameSessionID]="this.gameStateService.gameSession.id"
  >
  </app-character-menu>
  } @defer (when currentCharacterRollingDice) {
  <app-dice-roll-dialog
    *ngIf="currentCharacterRollingDice"
    [data]="diceRollingData"
    (successClose)="
      currentCharacterRollingDice = false;
      drawEventCard();
      currentCharacterRolledForEventCardThisTurn = true
    "
    (close)="
      currentCharacterRollingDice = false;
      currentCharacterRolledForEventCardThisTurn = true
    "
  ></app-dice-roll-dialog>
  } @defer (when this.gameDialogueService.showGameDialogue) {
  <app-game-dialogue
    *ngIf="this.gameDialogueService.showGameDialogue"
    (closeMenu)="this.gameDialogueService.showGameDialogue = false"
    [gameDialogueData]="this.gameDialogueService.gameDialogueData"
    (buttonOneClick)="this.gameDialogueService.handleButtonOneClick()"
    (buttonTwoClick)="this.gameDialogueService.handleButtonTwoClick()"
  />
  } @defer (when showAttackMenu()) {
  <app-attack-menu *ngIf="showAttackMenu()" (closeMenu)="toggleAttackMenu()">
  </app-attack-menu>
  }

  <div class="game-buttons-section" *ngIf="!currentCharacterRollingDice">
    <div class="zoom-buttons-section">
      <div
        class="zoom-button big-text"
        (click)="zoomIn()"
        [ngClass]="{ 'disabled-zoom-button': zoomPercentageDisplay === 1 }"
      >
        <i class="fa fa-search-plus"></i>
      </div>
      <div
        class="zoom-button big-text"
        (click)="zoomOut()"
        [ngClass]="{ 'disabled-zoom-button': zoomPercentageDisplay <= 0.4 }"
      >
        <i class="fa fa-search-minus"></i>
      </div>
    </div>
    <span
      *ngIf="
        gameStateService.characterBeingControlledByClient?.movementSpeed !=
        undefined
      "
    >
      <div
        class="game-button"
        *ngIf="
          !currentCharacterRolledForEventCardThisTurn &&
          gameStateService.characterBeingControlledByClient?.combatSessionId ===
            null
        "
        (click)="confirmEndMovement()"
      >
        End Movement
      </div>

      <div
        class="game-button"
        *ngIf="
          currentCharacterRolledForEventCardThisTurn &&
          !waitingForNextTurnToStart &&
          gameStateService.characterBeingControlledByClient?.combatSessionId ===
            null
        "
        (click)="currentCharacterFinishedTurn()"
      >
        End Turn
      </div>

      <div
        class="game-button"
        *ngIf="
          gameStateService.characterBeingControlledByClient?.combatSessionId !==
            null &&
          gameStateService.currentPlayersCombatTurn &&
          gameStateService.currentPlayerSelectedEnemyToAttack
        "
        (click)="toggleAttackMenu()"
      >
        Attack
      </div>
    </span>
  </div>

  <!-- Displays the zoom percentage to the user -->
  <!-- TODO I can componetize this -->
  <div
    class="zoom-percentage-display big-text"
    @fadeIn
    @fadeOut
    *ngIf="showZoomPercentage"
  >
    <h1>{{ zoomPercentageDisplay }}x</h1>
  </div>
</div>
