@import "../../../styles.scss";

.character-info-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}
