@import "../../../styles.scss";

.character-info-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}

.character-stats-sections {
  display: flex;
  flex-direction: column;
}

.character-gold-section {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  gap: 3px;
}

.character-stats-and-gold {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gold-coin {
  width: 23px;
}
