<div class="table">
  <div class="game-board">
    <span class="board-wrapper">
      <div class="board-1"></div>
      <div class="board-2"></div>
      <div class="board-3"></div>
    </span>
    <span class="board-wrapper">
      <div class="board-4"></div>
      <div class="board-5"></div>
      <div class="board-6"></div>
    </span>

    <span *ngFor="let player of players">
      <div
        *ngIf="player.currentLocation"
        class="player-wrapper"
        [ngStyle]="{
          'left.px': player.currentLocation.position.xPosition,
          'top.px': player.currentLocation.position.yPosition
        }"
      >
        <app-player [directionFacing]="player.directionFacing" />
      </div>
    </span>

    <!-- TODO Find a way to get the player currently being controlled -->

    <span *ngFor="let location of this.locationService.locationsMap | keyvalue">
      <div
        class="movement-node-wrapper"
        (click)="locationService.clickOnNode(location.value)"
        [ngStyle]="{
          'left.px': location.value.position.xPosition,
          'top.px': location.value.position.yPosition
        }"
      >
        <app-movement-node />
      </div>
    </span>
  </div>
</div>
