<div class="table">
  <div class="game-board">
    <div *ngFor="let player of players" class="player-wrapper">
      <div
        class="player-wrapper"
        [ngStyle]="{
          'left.px': player.position.xPosition,
          'top.px': player.position.yPosition
        }"
      >
        <app-player />
      </div>
    </div>

    <!-- TODO Find a way to get the player currently being controlled -->
    <div
      class="movement-node-wrapper enoach-desert-node"
      (click)="movementNodeService.clickOnNode(enoachDesertNodeInfo)"
    >
      <app-movement-node />
    </div>

    <div class="movement-node-wrapper arlan-node">
      <app-movement-node />
    </div>
  </div>
</div>
