@import "../../../styles.scss";

.game-board {
  border: 2px solid black;
  width: $game-board-width;
  height: $game-board-height;
  background-image: url("../../../assets/map.jpeg");
  position: relative;
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  @include game-board-width-and-smaller {
    width: $game-board-width;
  }
  @include game-board-height-and-smaller {
    height: $game-board-height;
  }
}
.player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: $game-board-width / 10;
}

.movement-node-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: $game-board-width / 40;
  height: $game-board-height / 30;
}

.enoach-desert-node {
  top: 400px;
  left: 400px;
}

.arlan-node {
  top: 600px;
  left: 550px;
}
