@import "../../../styles.scss";

.game-board {
  // border: 2px solid black;
  width: $game-board-width;
  height: $game-board-height;
  position: relative;
}

.board-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.board-1 {
  background-image: url("../../../assets/Tesslandia\ 3rd\ try.jpg");
  width: calc($game-board-width / 2);
  height: $game-board-height;
}

.board-2 {
  background-image: url("../../../assets/Tesslandia\ right\ side.jpg"); //
  width: calc($game-board-width / 2);
  height: $game-board-height;
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  @include game-board-width-and-smaller {
    width: $game-board-width;
  }
  @include game-board-height-and-smaller {
    height: $game-board-height;
  }
}
.player-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  pointer-events: none;
}

.movement-node-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: calc($game-board-width / 40);
  height: calc($game-board-height / 30);
}
