<div class="table">
  <div class="game-board">
    <div *ngFor="let player of players" class="player-wrapper">
      <div
        class="player-wrapper"
        [ngStyle]="{
          'left.px': player.position.xPosition,
          'top.px': player.position.yPosition
        }"
      >
        <app-player />
      </div>
    </div>

    <!-- TODO Find a way to get the player currently being controlled -->
    <div
      class="movement-node-wrapper"
      (click)="movementNodeService.clickOnNode(enoachDesertNodeInfo)"
      [ngStyle]="{
        'left.px': enoachDesertNodeInfo.position.xPosition,
        'top.px': enoachDesertNodeInfo.position.yPosition
      }"
    >
      <app-movement-node />
    </div>

    <div
      class="movement-node-wrapper"
      (click)="movementNodeService.clickOnNode(arlanNodeInfo)"
      [ngStyle]="{
        'left.px': arlanNodeInfo.position.xPosition,
        'top.px': arlanNodeInfo.position.yPosition
      }"
    >
      <app-movement-node />
    </div>

    <div
      class="movement-node-wrapper"
      (click)="movementNodeService.clickOnNode(draebarNodeInfo)"
      [ngStyle]="{
        'left.px': draebarNodeInfo.position.xPosition,
        'top.px': draebarNodeInfo.position.yPosition
      }"
    >
      <app-movement-node />
    </div>

    <div
      class="movement-node-wrapper"
      (click)="movementNodeService.clickOnNode(elderForestNodeInfo)"
      [ngStyle]="{
        'left.px': elderForestNodeInfo.position.xPosition,
        'top.px': elderForestNodeInfo.position.yPosition
      }"
    >
      <app-movement-node />
    </div>
  </div>
</div>
