// I took this original code from here: https://codepen.io/laverboy/pen/ngwMdw
// So, I can put other things within the node if I want

@import "../../../../../../styles.scss";

@keyframes pulse {
  0% {
    box-shadow: 0 0 8px $node-color, inset 0 0 8px $node-color;
  }
  50% {
    box-shadow: 0 0 16px $node-color, inset 0 0 14px $node-color;
  }
  100% {
    box-shadow: 0 0 8px $node-color, inset 0 0 8px $node-color;
  }
}

.inner {
  background-color: transparent;
  // width: 100px;
  // height: 100px;
  width: $game-board-width / 40;
  height: $game-board-height / 30;
  border-radius: 50px;
  box-shadow: 0 0 8px $node-color, inset 0 0 8px $node-color;
  -webkit-animation: pulse 2s linear 1s infinite;
  animation: pulse 2s linear 1s infinite;
  cursor: pointer;
}

// If I ever want to place something inside of the node I can use this as a reference
// .inner p {
//   display: block;
//   text-align: center;
//   line-height: 100px;
//   font-family: sans-serif;
//   font-weight: 100;
//   font-size: 24px;
//   color: $node-color;
//   text-shadow: 0 0 4px $node-color;
// }
