<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <p>{{ data.message }}</p>

  <div class="dice-section">
    <div class="die" *ngFor="let die of dice">
      <!-- Show the number of dots according to the dice value -->

      <div
        *ngFor="let dot of die.dots"
        class="die-dot"
        [style.--top]="dot.topPosition + '%'"
        [style.--left]="dot.leftPosition + '%'"
      ></div>
    </div>
  </div>

  <div class="sum-section">
    <p *ngIf="rolledDice">You rolled a sum of {{ sum }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onRoll()" cdkFocusInitial *ngIf="!rolledDice">
    Roll
  </button>
  <button
    mat-button
    (click)="onRoll()"
    cdkFocusInitial
    *ngIf="rolledDice && inTargetRange"
  >
    {{ data.closeButtonName }}
  </button>
  <button
    mat-button
    (click)="onRoll()"
    cdkFocusInitial
    *ngIf="rolledDice && !inTargetRange"
  >
    Close
  </button>
</mat-dialog-actions>
