@import "../../../styles.scss";

.menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

.game-card-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.menu-title,
.menu-sub-title {
  text-align: center;
}

.menu-underline {
  width: 40%;
  height: 3px;
  background-color: #eee;
  // give it a glow
  @include text-glow;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  box-shadow: 0 0 10px #eee;
  margin-top: -16px;
  margin-bottom: 16px;
}

.card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
