<div *ngIf="!loading">
  <h1>{{ gameSession.gameName }}</h1>
  <h2>Entrance Code: {{ gameSession.entranceCode }}</h2>

  <button mat-raised-button color="primary" (click)="addCharacter()">
    Add New Character
  </button>
  <h2>Players</h2>

  <div class="characters-section">
    <div *ngFor="let character of characters" class="character-wrapper">
      <p>{{ character.name }}</p>
      <span *ngIf="character.userId === authService.activeUser?.uid"
        >This character will be controlled on this device</span
      >
      <img
        class="character-image"
        *ngIf="character.class === 'Sorcerer' && character.sex === 'Male'"
        src="../../../assets/game-pieces/wizard/wizard-right.png"
        alt="{{ character.name }}"
      />
      <img
        class="character-image"
        *ngIf="character.class === 'Sorcerer' && character.sex === 'Female'"
        src="../../../assets/game-pieces/wizard/sorceress-right.png"
        alt="{{ character.name }}"
      />
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="enterGame()"
    [disabled]="characters.length <= 0 || !characters"
  >
    Enter Game
  </button>
</div>
