<h1>Welcome {{ authService.activeUser?.displayName }}</h1>
<button mat-raised-button color="primary" (click)="logout()">Sign Out</button>

<div *ngIf="currentGameSession != null">
  <h1>Current Game Session: {{ currentGameSession.gameName }}</h1>
  <button mat-raised-button color="primary" (click)="router.navigate(['game'])">
    Continue game
  </button>
</div>

<div *ngIf="!currentGameSession">
  <button mat-raised-button color="primary" (click)="createNewGameSession()">
    Create game
  </button>
</div>

<!-- <button mat-raised-button color="primary" (click)="router.navigate(['game'])">
  Play game
</button> -->
