<h1>Welcome {{ authService.activeUser?.displayName }}</h1>

<div class="page-content">
  <div>
    <button mat-raised-button color="primary" (click)="logout()">
      Sign Out
    </button>
  </div>

  <div *ngIf="gameSessionsParticipating.length > 0">
    <h1>Here are your game sessions</h1>
  </div>

  <div *ngFor="let game of gameSessionsParticipating">
    <h2>{{ game?.gameName }}</h2>
    <button mat-raised-button color="primary" (click)="goToGameLobby(game.id)">
      Enter Lobby
    </button>
  </div>

  <div class="join-game-section">
    <mat-form-field class="join-game-form">
      <mat-label>Join Existing Game</mat-label>
      <input
        matInput
        placeholder="Type game code here..."
        [(ngModel)]="gameCode"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="secondary"
      [disabled]="gameCode === ''"
      (click)="joinGameSession()"
    >
      Join Game
    </button>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="createNewGameSession()">
      Create New game
    </button>
  </div>
</div>
