<div
  [ngClass]="{ selectable: selectable(), selected: selected() }"
  (click)="selectNpc()"
>
  <div *ngIf="inCombat">
    <div class="npc-health-bar">{{ healthPercentage }}%</div>

    <div class="health-bar-container">
      <div class="health-bar" id="npcHealthBar"></div>
    </div>

    <img
      class="npc"
      *ngIf="npc().directionFacing === 'Right'"
      [src]="npc().rightFacingImgUrl"
    />
    <img
      class="npc"
      *ngIf="npc().directionFacing === 'Left'"
      [src]="npc().leftFacingImgUrl"
    />
  </div>
</div>
