<div
  [ngClass]="{ selectable: selectable(), selected: selected() }"
  (click)="selectNpc()"
>
  <div *ngIf="inCombat">
    <!-- <div class="npc-health-bar">{{ healthPercentage }}%</div> -->

    <div class="health-bar-container">
      <div
        class="health-bar"
        [style.width]="
          (npc().npcStats.health.current / npc().npcStats.health.total) * 100 +
          '%'
        "
      ></div>
    </div>

    <div class="image-container">
      <img
        class="npc"
        *ngIf="npc().directionFacing === 'Right'"
        [src]="npc().rightFacingImgUrl"
        [ngClass]="{ dead: dead }"
      />
      <img
        class="npc"
        *ngIf="npc().directionFacing === 'Left'"
        [src]="npc().leftFacingImgUrl"
        [ngClass]="{ dead: dead }"
      />

      @if(dead) {
      <app-dead-icon></app-dead-icon>
      }
    </div>
  </div>
</div>
