<mat-tab-group>
  <mat-tab label="Sign In">
    <br />
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <p>
            <mat-form-field>
              <input
                type="email"
                matInput
                placeholder="email"
                formControlName="email"
              />
            </mat-form-field>
          </p>

          <p class="form-section">
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
            <sub>*Passwords must be at least 6 characters long.</sub>
          </p>

          <div class="button-section">
            <div class="button">
              <button mat-button color="primary" (click)="forgotPassword()">
                I forgot my password
              </button>
            </div>

            <div class="button">
              <button type="submit" mat-raised-button>Login</button>
            </div>

            <p *ngIf="error" class="error">
              {{ error }}
            </p>

            <p *ngIf="message" class="message">
              {{ message }}
            </p>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Sign Up">
    <br />

    <mat-card>
      <mat-card-title>Create Account</mat-card-title>
      <mat-card-content>
        <form [formGroup]="signUpForm" (ngSubmit)="submitSignUp()">
          <p>
            <mat-form-field>
              <input
                type="email"
                matInput
                placeholder="email"
                formControlName="email"
              />
            </mat-form-field>
          </p>

          <p class="form-section">
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
            <sub>*Passwords must be at least 6 characters long.</sub>
          </p>

          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Your username"
                formControlName="displayName"
              />
            </mat-form-field>
          </p>

          <div class="button">
            <button type="submit" mat-raised-button>Sign up</button>
          </div>
          <p *ngIf="error" class="error">
            {{ error }}
          </p>
        </form>
      </mat-card-content>
    </mat-card></mat-tab
  >
</mat-tab-group>
