<h1>Welcome to DungeonSeek Alpha!</h1>
<div class="image-wrapper">
  <img src="../../../assets/game-pieces/wizard/wizard-right.png" />
</div>
<div class="page-content">
  <p>
    Dungeon Seek is a tabletop roleplaying game you can play with your friends
    cooperatively and learn at the same time. It is a work in progress, but feel
    free to play anyway!
  </p>
  <button
    mat-raised-button
    color="primary"
    (click)="router.navigate(['login-or-sign-up'])"
  >
    Login or Sign Up
  </button>
</div>
