@import "../../../styles.scss";

.character-image-wrapper {
  cursor: pointer;
  // wrap it in a circle
  border-radius: 50%;
  overflow: hidden;
  width: 5vw;
  height: 10vh;
  border: 0.1vw solid grey;
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.character-image-wrapper:hover {
  // Give the gold color a misty effect
  border: 0.1vw solid gold;
  box-shadow: 0 0 1vw gold;
}
.character-image {
  width: 5vw;
  @include unselectable();
}
