<app-menu [showCloseMenu]="true" (closeMenu)="onCloseMenu()">
  <div class="attack-menu">
    <div class="attack-menu-header">
      <p class="menu-text">Attack {{ npcToAttack().npcType }}</p>
      <app-menu-underline></app-menu-underline>
    </div>

    <div class="attack-menu-action-buttons">
      <div
        class="game-button"
        [ngClass]="{ 'selected-button': viewingWeapons }"
        (click)="clickWeaponsButton()"
      >
        Weapon 🗡️
      </div>
      <div
        class="game-button"
        [ngClass]="{ 'selected-button': viewingSpells }"
        (click)="clickSpellsButton()"
      >
        Spell 🔥
      </div>
      <div
        class="game-button"
        [ngClass]="{ 'selected-button': viewingScrolls }"
        (click)="clickScrollsButton()"
      >
        Scroll 📜
      </div>
    </div>

    <div class="card-section">
      @if(viewingWeapons) { @for(weaponCard of
      character().characterMenu.weaponCards; track weaponCard; ){
      <app-game-card
        @fadeIn
        [card]="weaponCardService.getCardInfo(weaponCard.cardName)"
        (click)="openWeaponMenu(weaponCard)"
      ></app-game-card>
      } }
    </div>
  </div>
</app-menu>

<!-- The sub menus that appear -->
<app-weapon-card-info-view
  *ngIf="showWeaponMenu && weaponEquipmentToShow && weaponCardInfoToShow"
  [cardInfo]="weaponCardInfoToShow"
  (closeMenu)="showWeaponMenu = false"
  (attackWithWeapon)="showWeaponMenu = false; attackWithWeapon()"
></app-weapon-card-info-view>
