<app-menu [showCloseMenu]="true" (closeMenu)="onCloseMenu()">
  <div class="attack-menu">
    <div class="attack-menu-header">
      <p class="menu-text">Attack {{ npcToAttack().npcType }}</p>
      <app-menu-underline></app-menu-underline>
    </div>

    <div class="attack-menu-action-buttons">
      <div
        class="game-button"
        [ngClass]="{ 'selected-button': viewingWeapons }"
        (click)="clickWeaponsButton()"
      >
        Weapon 🗡️
      </div>
      <div
        class="game-button"
        [ngClass]="{ 'selected-button': viewingSpells }"
        (click)="clickSpellsButton()"
      >
        Spell 🔥
      </div>
      <div
        class="game-button"
        [ngClass]="{ 'selected-button': viewingScrolls }"
        (click)="clickScrollsButton()"
      >
        Scroll 📜
      </div>
    </div>
  </div>
</app-menu>
