@import "../../../styles.scss";

$card-border-radius: 25px;

.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // give it a semi-transparent black background
  background-color: rgba(0, 0, 0, 0.5);
}

.game-card {
  position: relative;
  border-radius: $card-border-radius;
  width: 150px;
  height: 175px;
  background-image: url("../../../assets/card-images/parchment-texture.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100px;
}
