@import "../../../styles.scss";

$justFoundGlow: rgb(226, 221, 189);

.card-title {
  font-size: 5vh;

  @include for-tablet-landscape-up {
    font-size: $big-text-font-size;
  }
  text-align: center;
}

$card-border-radius: 25px;
.game-card {
  border-radius: $card-border-radius;
  width: 41vh;
  height: 57vh;
  max-width: 200px;
  max-height: 300px;

  background-image: url("../../../assets/card-images/parchment-texture.jpeg");
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-image {
  max-width: 100px;
  width: 20vh;
}

.card-image-wrapper {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.equipped-icon {
  // Make a green circle around the icon
  border: 2px solid $success-color;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -16px;
  right: -5px;
  background-color: $success-color;
  display: flex;
  justify-content: center;
  padding: 2px;
}

// Card hover effect found here: https://nestedsoftware.com/2019/11/05/card-with-expand-on-hover-effect-2ccm.200941.html
.clickable:hover {
  cursor: pointer;
}

.card-just-found {
  box-shadow: 0 0 50px $justFoundGlow, inset 0 0 8px $justFoundGlow;
  -webkit-animation: glow 2s linear 1s infinite;
  animation: hoverUpAndDown 2s linear 1s infinite;
}

@keyframes hoverUpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
