<div class="game-card-wrapper" @fadeIn @fadeOut>
  <div class="game-card" [@flipState]="flip">
    <div class="game-card__side game-card__front">
      <span class="big-text">{{ deckName }}</span>
    </div>
    <div class="game-card__side game-card__back">
      <div class="card-title">
        <p>{{ card?.name }}</p>
      </div>
      <div class="card-description">
        <p>{{ card?.description }}</p>
      </div>

      <!-- TODO this will be replaced by choosing an option-->
      <div class="game-button" (click)="onCloseCard()">Close card</div>
    </div>
  </div>
</div>
