<div
  class="game-card"
  *ngIf="card"
  [ngClass]="{ 'card-just-found': cardJustFound, clickable: clickable }"
>
  <div class="card-title big-text">{{ card.name }}</div>

  <div class="card-image-wrapper">
    <img class="card-image" [src]="card.imgUrl" />
  </div>
</div>

<div
  class="game-card"
  *ngIf="gold"
  [ngClass]="{ 'card-just-found': cardJustFound, clickable: clickable }"
>
  <div class="card-image-wrapper">
    <img class="card-image" src="../../../assets/game-pieces/coin.png" />
  </div>

  <div class="card-title big-text">
    <h1>{{ goldAmount }}</h1>
  </div>
</div>

@if(equipped) {
<div class="equipped-icon big-text">&#10003;</div>
}
