@import "../../../styles.scss";

$card-border-radius: 25px;

.menu-background {
  // TODO this will be shared
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  // give it a semi-transparent black background
  background-color: rgba(0, 0, 0, 0.817);

  // These styles will be native to the specific component
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

.game-card-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}
.game-card {
  position: relative;
  border-radius: $card-border-radius;
  width: 150px;
  height: 175px;
  background-image: url("../../../assets/card-images/parchment-texture.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100px;
}

.menu-title,
.menu-sub-title {
  text-align: center;
}

.menu-underline {
  width: 40%;
  height: 3px;
  background-color: #eee;
  // give it a glow
  @include text-glow;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  box-shadow: 0 0 10px #eee;
  margin-top: -16px;
  margin-bottom: 16px;
}

.card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
