<app-menu [showCloseMenu]="true" (closeMenu)="onCloseMenu()">
  <div class="character-menu" *ngIf="character">
    <div class="character-menu-header">
      <div class="character-info">
        <p class="menu-text">
          {{ character.name }} - Level {{ character.level }}
          {{ character.class }}
        </p>
      </div>
      <app-menu-underline></app-menu-underline>

      <div class="image-and-stats">
        <app-character-profile-image
          [character]="character"
        ></app-character-profile-image>
        <app-character-stats [character]="character"></app-character-stats>
      </div>
    </div>

    <div class="dungeon-seek-dropdown">
      <div
        class="big-text dungeon-seek-dropdown-button"
        (click)="toggleDropdown()"
      >
        {{ currentMenu }}
        <i class="arrow down" *ngIf="!dropdownOpen"></i>
        <i class="arrow up" *ngIf="dropdownOpen"></i>
      </div>

      <div class="dungeon-seek-dropdown-menu" *ngIf="dropdownOpen">
        <ul>
          <li *ngFor="let option of dropdownOptions">
            <span
              *ngIf="option != currentMenu"
              class="dropdown-list-item menu-text"
              (click)="changeVisibleMenu(option)"
            >
              {{ option }}
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="cards-section">
      @if (cardsLoading) {
      <div class="cards-loading-icon-container">
        <div>
          <app-loading-icon></app-loading-icon>
        </div>
      </div>
      }

      <div class="card-section">
        @if(currentMenu === 'Weapons') { @for(weaponCard of
        character.characterMenu.weaponCards; track weaponCard){
        <app-game-card
          @fadeIn
          [card]="weaponCardService.getCardInfo(weaponCard.cardName)"
          (click)="showWeaponMenu = true; weaponInfoToShow = weaponCard"
        ></app-game-card>
        } } @else if(currentMenu === 'Items') { @for(itemCard of
        character.characterMenu.itemCards; track itemCard){
        <app-game-card
          @fadeIn
          [card]="itemCardService.getCardInfo(itemCard)"
        ></app-game-card>
        } }
      </div>
    </div>
  </div>
</app-menu>

<!-- The sub menus that appear -->
<app-character-menu-weapon-menu
  *ngIf="showWeaponMenu && weaponInfoToShow"
  [weaponEquipment]="weaponInfoToShow"
  (closeMenu)="showWeaponMenu = false"
></app-character-menu-weapon-menu>
