// I took this original code from here: https://codepen.io/laverboy/pen/ngwMdw
// So, I can put other things within the node if I want

@import "../../../../styles.scss";

$within-reach-color: rgb(67, 255, 4);

@keyframes pulse {
  0% {
    box-shadow: 0 0 8px $node-color, inset 0 0 8px $node-color;
  }
  50% {
    box-shadow: 0 0 18px $node-color, inset 0 0 14px $node-color;
  }
  100% {
    box-shadow: 0 0 8px $node-color, inset 0 0 8px $node-color;
  }
}

.inner {
  background-color: transparent;
  // width: 100px;
  // height: 100px;
  width: calc($game-board-width / 120);
  height: calc($game-board-height / 90);
  border-radius: 50px;
  box-shadow: 0 0 8px $node-color, inset 0 0 8px $node-color;
  -webkit-animation: pulse 2s linear 1s infinite;
  animation: pulse 2s linear 1s infinite;
  cursor: pointer;
}

// If I ever want to place something inside of the node I can use this as a reference
// .inner p {
//   display: block;
//   text-align: center;
//   line-height: 100px;
//   font-family: sans-serif;
//   font-weight: 100;
//   font-size: 24px;
//   color: $node-color;
//   text-shadow: 0 0 4px $node-color;
// }

.within-reach {
  box-shadow: 0 0 8px $within-reach-color, inset 0 0 8px $within-reach-color;
  -webkit-animation: pulse-within-reach 2s linear 1s infinite;
}

@keyframes pulse-within-reach {
  0% {
    box-shadow: 0 0 8px $within-reach-color, inset 0 0 8px $within-reach-color;
  }
  50% {
    box-shadow: 0 0 18px $within-reach-color, inset 0 0 14px $within-reach-color;
  }
  100% {
    box-shadow: 0 0 8px $within-reach-color, inset 0 0 8px $within-reach-color;
  }
}
