<app-menu>
  <div class="card-drawn-wrapper">
    <div class="card-drawn-content">
      <h1 class="menu-title">You found {{ goldAmount }} gold!</h1>
      <app-game-card
        [gold]="true"
        [cardJustFound]="true"
        [clickable]="false"
        [goldAmount]="goldAmount"
      >
      </app-game-card>

      <div class="card-choices-section">
        <div class="choice-button" (click)="onCloseMenu()">
          Add to Inventory
        </div>
      </div>
    </div>
  </div>
</app-menu>
