<div class="card-info">
  <h1 class="menu-title">
    {{ card?.name }}
  </h1>

  <app-menu-underline></app-menu-underline>
  <div class="card-description">
    <p class="menu-text">{{ card?.description }}</p>
  </div>
  <div class="card-choices-section">
    <h2 class="menu-sub-title">What do you do?</h2>
    <app-menu-underline></app-menu-underline>
    <div class="choices-wrapper">
      <div class="choice" *ngFor="let choice of card?.choices">
        <div class="choice-button" (click)="onMakeChoice(choice.outcome)">
          {{ choice.description }}
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="(card?.choices && (card?.choices)!.length <= 0) || !card?.choices"
    class="choice-button"
    (click)="onCloseCard()"
  >
    Close card
  </div>
</div>
