<h2 mat-dialog-title *ngIf="!data?.name">Create New Character</h2>
<h2 mat-dialog-title *ngIf="data?.name">Edit {{ data?.name }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Character Name</mat-label>
    <input matInput [(ngModel)]="character.name" />
  </mat-form-field>

  <mat-label>Select Your Class</mat-label>
  <mat-tab-group>
    <mat-tab label="Sorcerer" (click)="changeCharacterClass('Sorcerer')">
      <div class="character-preview">
        <img
          class="character-image"
          src="../../../assets/game-pieces/wizard/wizard-right.png"
          *ngIf="character.sex === 'Male'"
        />
        <img
          class="character-image"
          src="../../../assets/game-pieces/wizard/sorceress-right.png"
          *ngIf="character.sex === 'Female'"
        />
      </div>

      <div class="sex-selector">
        <mat-radio-group
          aria-label="Select an option"
          [(ngModel)]="character.sex"
        >
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Rouge"> Coming soon... </mat-tab>
    <mat-tab label="Warrior">Coming soon...</mat-tab> -->
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    [mat-dialog-close]="character"
    cdkFocusInitial
    [disabled]="character.name === ''"
  >
    Create
  </button>
</mat-dialog-actions>
