.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%; // Needs to be percent so it is responsive and changes when the user zooms in or out.
  width: 100%;
  background-color: rgba(0, 0, 0, 0.817);

  // Make it scroll vertically
  overflow-y: auto;
}

.close-menu-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
