@import "../../../styles.scss";

.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;

  background-color: $dungeon-seek-dark-transparent;

  // Make it scroll vertically
  overflow-y: auto;
}

// The overlay that appears behind the non-full screen overlay
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  background-color: $dungeon-seek-dark-even-more-transparent;
}
.not-full-screen {
  background-color: $dungeon-seek-dark-transparent;

  z-index: 9999;

  width: 100%;
  height: 100%;

  @include for-tablet-portrait-up {
    top: 25%;

    height: 50%;
  }
  @include for-tablet-landscape-up {
    width: 50%;
    left: 25%;
  }
}

.full-screen {
  height: 100%; // Needs to be percent so it is responsive and changes when the user zooms in or out.
  width: 100%;
}

.close-menu-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
