$dungeon-seek-light: #eee;
$dungeon-seek-less-light: #af82f770;

$dungeon-seek-dark: rgba(0, 0, 0, 0.817);

$dungeon-seek-dark-transparent: rgba(0, 0, 0, 0.912);

$dungeon-seek-dark-even-more-transparent: rgba(0, 0, 0, 0.417);
$node-color: $dungeon-seek-light;

$menu-color: rgba(0, 0, 0, 0.817);

$success-color: green;
