.big-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 0.5rem;
}

// text that is sticky to the top and bottom of the screen
.sticky-text {
  font-size: 2vw; // Makes it look good when the user zooms in or out
}
