$sticky-text-font-size: 2em;
$sticky-text-font-size-for-zoomed-in-screen: 1em;

.big-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 0.5rem;
}

// text that is sticky to the top and bottom of the screen
.sticky-text {
  font-size: $sticky-text-font-size;

  @include for-zoomed-in-screen {
    font-size: $sticky-text-font-size-for-zoomed-in-screen;
  }
}
