.footer {
  border: 2px solid blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-instructions {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.action-button {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
