@import "../../../styles.scss";

.footer {
  // border: 2px solid blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

.user-instructions {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
