@import "../../../styles.scss";

.footer-wrapper {
  // border: 2px solid blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: space-around;
  }
}

.user-instructions {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  @include for-tablet-portrait-up {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.footer {
  // TODO put a cool background image here
  background-color: $menu-color;
}

.toggle-footer-button-wrapper {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 60px;
}
